@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Smoothie City baby</h1>
    <p>The one and only service to provide you with the smoothie you deserve</a>.</p>
</div>
