<div class="text-center">
    <h1 style="color:red"class="text-danger">!! Access Denied !!</h1>
    <h6 class="text-danger">You do not have persmission to view this resource buddy.</h6>
</div>

<div>
    <a asp-area="" asp-controller="Smoothies" asp-action="Index">Take me to the smoothies.</a>
</div>