@model SmoothieCity.Models.ViewModel;
@{

    ViewData["Title"] = "Item Added";
    var sid = @ViewBag.addedId;
    Smoothies smooth = null;
    foreach (Smoothies var in Model.Smoothies)
    {
        if (var.SmoothieId.Equals(sid))
        {
            smooth = var;
        }
    }

}

<h1 class="text-center">Item Added</h1>


<center>
    @{if (smooth != null)
        {
            <p>Thank you for adding @smooth.SmoothieName to the cart</p>
            <a class="btn btn-secondary" asp-area="" asp-controller="Smoothies" asp-action="Index">Back to Menu</a>
            <a class="btn btn-secondary" asp-area="" asp-controller="Smoothies" asp-action="Cart">Go to Cart</a>
        }
    }


</center>
