
@model SmoothieCity.Models.ViewModel;
@{

    ViewData["Title"] = "Cart";
    List<CartItem> c_data = new List<CartItem>();
    foreach (int i in ViewBag.CartData)
    {
        var cur_list = from c in c_data
                       select c.Smooth.SmoothieId;
        if (cur_list.Contains(i))
        {
            foreach (CartItem ci in c_data)
            {
                if (ci.Smooth.SmoothieId == i)
                {
                    ci.count++;
                }
            }
            continue;
        }

        foreach (Smoothies s in Model.Smoothies)
        {
            if (s.SmoothieId.Equals(i))
            {
                c_data.Add(new CartItem(s, 1));
                break;
            }
        }

    }

}

<style>
    .smoothie_img {
        width: 100px;
        height: 100px;
        border-radius: 4px;
    }
</style>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <h1>Your Cart: </h1>

    double? total = 0;

    @foreach (var item in ((List<CartItem>)c_data))
    {
        <p style="margin-bottom: 0px;"><b>@item.Smooth.SmoothieName</b></p>
        String numb = "x" + item.count;
        String price = String.Format("{0:F2}", (double)item.Smooth.SmoothiePrice);
        if (item.count > 1)
        {
            total += (item.Smooth.SmoothiePrice * item.count);
        }
        else
        {
            total += item.Smooth.SmoothiePrice;
        }

        <p>
            <img style="margin-top: 0px" src=~/@item.Smooth.SmoothieImage class=smoothie_img />
            ($@price)
            (@numb)

        </p>


    }

    <h1> <br> </h1>
    <p>
        <b>(Total Price: $@total)</b>
    </p>


        <a href="@Url.Action("Finalize", "Smoothies" , new { id = ViewBag.orderId })" title="Add to Cart">Finalize Order</a>

        <div>
            <a asp-area="" asp-controller="Smoothies" asp-action="Index"> Back to List</a>
        </div>


        <center>

        </center>
        }
