
@{
    ViewData["Title"] = "View";
}

<div class="mx-auto">
    <h1 class="text-center">Order Confirmation</h1>
    <div class="col-md-4 mx-auto">
        <p style="text-align:center">Pick-Up Location:</p>
        <p style="text-align:center">123 Main Street in Spartaburg, SC.</p>
        <p class="text-center">Thank you for your order!</p>
    </div>
</div>

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
