@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Whats good</h1>
    <p><a>Welcome to Smoothie City who here is good with HTML?</a></p>
    <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/84531/preview.svg" alt="alternatetext">
</div>
