@model IEnumerable<SmoothieCity.Models.Order>

@{
    ViewData["Title"] = "Manage Menu";
}

<center>
    @foreach (var item in Model)
    {
        if (item.Submitted == true)
        {

    <div>

        @{
            String iname = item.Customer.FirstName + " " + item.Customer.LastName;
            String isub_time = item.OrderTime;
            String ipickup_time = item.PickUpTime;
        }

        <p>
            <i>
                @iname
                @isub_time
                @ipickup_time
            </i>

            <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            <a asp-action="Details" asp-route-id="@item.OrderID">View</a>
        </p>

    </div>

        }
    }
</center>
