@model IEnumerable<SmoothieCity.Models.Order>

@{
    ViewData["Title"] = "Manage Menu";
}

<table class="table-bordered mx-lg-auto">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Submitted</th>
            <th scope="col">Expected</th>
        </tr>
        <tbody class="table table-striped">
            @foreach (var item in Model)
            {
                if (item.Submitted == true)
                {

                    <tr>

                        @{
                            String iname = item.Customer.FirstName + " " + item.Customer.LastName;
                            String isub_time = item.OrderTime;
                            String ipickup_time = item.PickUpTime.ToString();
                        }



                        <td> @iname </td>
                        <td> @isub_time </td>
                        <td>@ipickup_time</td>


                        <td> <a asp-action="Delete" asp-route-id="@item.OrderID">Complete</a> </td>
                        <td><a asp-action="Details" asp-route-id="@item.OrderID">View Details</a> </td>
                    </tr>



                }
            }
        </tbody>
</table>
