@{
    ViewData["Title"] = "About Us";
}
<style>
    body {

    background-image: url('https://besthqwallpapers.com/Uploads/14-8-2019/101472/white-brick-wall-texture-white-brick-background-stone-texture-white-bricks.jpg');

    }

</style>

<div style="padding-bottom: 8px; background-color: papayawhip; outline: groove;">
    <h1 style="text-shadow: 4px 4px white; color: black; font-size: 56px; font-weight: 999; text-align: center ">@ViewData["Title"]</h1>
    <p style="text-align:center">At Smoothie City, we make healthy smoothies using fresh and organic ingredients. We offer a wide variety of smoothies to choose from, with seasonal changes throughout the year. </p>

    <p style="text-align:center"><img src="~/smooth_landscape.jpg" /></p>

    <br>

    <h2 style="text-align:center">Hours</h2>
    <p style="text-align:center"> We are open weeklong, Sunday-Saturday with these hours:</p>
    <p style="text-align:center"> Sunday: 7 am - 7 pm</p>
    <p style="text-align:center"> Monday: 7 am - 7 pm</p>
    <p style="text-align:center"> Tuesday: 7 am - 7 pm</p>
    <p style="text-align:center"> Wednesday: 7 am - 7 pm</p>
    <p style="text-align:center"> Thursday: 7 am - 7 pm</p>
    <p style="text-align:center"> Friday: 7 am - 7 pm</p>
    <p style="text-align:center"> Saturday: 7 am - 7 pm</p>

    <h1> <br> </h1>


    <h2 style="text-align:center">Contact Us</h2>
    <p style="text-align:center"> Phone Number: 864.123.4567</p>
    <p style="text-align:center"> Email Address: smcity@smoothiecity.com</p>


    <h1> <br> </h1>

    <h2 style="text-align:center">Address</h2>
    <p style="text-align:center">We are located at 123 Main Street in Spartaburg, SC.</p>

</div>